*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(244,2,255);
    background: linear-gradient(90deg, rgba(244,2,255,1) 0%, rgba(180,36,181,1) 79%, rgba(180,36,181,1) 97%);
}
#principal{
    background-color: rgb(20, 20, 20);
    width: 97%;
    height: 95%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#divi{
    display: flex;
    gap: 5px;
}

h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b424b5;
    color: white;
    border: black;
    cursor: pointer;
}

button:hover{
    background-color: #f848f8;
}

#button_volta{
    opacity: 100%;
    background-color: #6d2c6d;
}

hr{
    width: 300px;
}
.button_delet_ultimo_mark{
    background-color:rgb(20, 20, 20);
}
.button_delet_ultimo_mark:hover{
    background-color:rgb(20, 20, 20);
}
#local_mark_time_button{
    display: flex;
    justify-content: space-between;
}